<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Title</title>
</head>
<body>
<h1>Budget stuff!</h1>
<!--/* The div below should be shown when there is a user */-->
<p th:if="${user != null}">Logged in as <span class="user" th:classappend="${user.isAdmin()} ? 'admin' : ''" th:text="${user.getFullName()}">Joe Shmoe</span></p>
<!--/* The span below should be shown when there is no user */-->
<p th:if="${user == null}">You are not logged in</p>
<p>You have <span th:text="${#numbers.formatInteger(cart.getItemsCount(),1)}">2</span> items in your cart with total value <span th:text="${cart.getTotal() == 0} ? '$0.0' : ${#strings.replace(#numbers.formatCurrency(cart.getTotal()), '¤', '$')}">$25.00</span></p>
<table>
  <thead>
  <tr>
    <th>Index</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price per item</th>
    <th>Total price</th>
  </tr>
  </thead>
  <tbody th:remove="all-but-first">
  <tr th:each="item, itemStat :${cart.items}">
    <td th:text="${itemStat.count}">1</td>
    <td th:text="${item.name}">Matching Slippers</td>
    <td th:text="${item.quantity}">3</td>
    <td th:text="'$' + ${#numbers.formatDecimal(item.itemPrice,2,2)}">$5.00</td>
    <td th:text="'$' + ${#numbers.formatDecimal(item.getTotalPrice(),2,2)}">$15.00</td>
  </tr>
  <tr>
    <td>2</td>
    <td>More Slippers</td>
    <td>1</td>
    <td>$10.00</td>
    <td>$10.00</td>
  </tr>
  </tbody>
</table>
</body>
</html>